name: Reusable Security Scan

on:
  workflow_call:

jobs:
  audit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run ThirdGen Scanner
        uses: haidaralimasu/thirdgen-scanner@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
